flowers = ['African_Daisy', 'Aster', 'Astilbe']
sorted_flowers = sorted(flowers)
print('Flowers                   {}'.format(flowers))
print('Sorted flowers list:      {}'.format(sorted_flowers))
flowers.sort()
print('Flowers after sort method:{}'.format(flowers))
 

